<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Pizzzzza</h1>
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#locations">Locations</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <h2>About Pizza</h2>
            <p>Pizza is a savory dish of Italian origin consisting of a usually round, flat base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients (such as anchovies, mushrooms, onions, olives, vegetables, meat, etc.), which is then baked at a high temperature, traditionally in a wood-fired oven.</p>
            
            <h2>Types of Pizza</h2>
            <ul>
                <li><strong>Margherita:</strong> A classic pizza topped with tomatoes, mozzarella cheese, and fresh basil.</li>
                <li><strong>Pepperoni:</strong> A popular pizza topped with pepperoni slices and mozzarella cheese.</li>
                <li><strong>Veggie:</strong> A pizza loaded with a variety of vegetables like bell peppers, onions, mushrooms, and olives.</li>
                <li><strong>BBQ Chicken:</strong> A pizza topped with barbecue sauce, chicken, red onions, and cilantro.</li>
                <li><strong>Hawaiian:</strong> A controversial pizza topped with ham and pineapple.</li>
            </ul>
            
            <h2>Pizza Making Process</h2>
            <p>The process of making pizza involves several steps:</p>
            <ol>
                <li><strong>Preparing the Dough:</strong> Mixing flour, water, yeast, and salt to make the dough and letting it rise.</li>
                <li><strong>Shaping the Dough:</strong> Stretching and shaping the dough into a round base.</li>
                <li><strong>Adding Toppings:</strong> Spreading tomato sauce, adding cheese, and placing other toppings.</li>
                <li><strong>Baking:</strong> Baking the pizza in an oven until the crust is golden and the cheese is melted and bubbly.</li>
            </ol>
            
            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </main>

    <footer>
       &copy; Pizza Time 2023
    </footer>
    <script src="public/script.js"></script>
</body>
</html>